<div class="container" id="contenido">
  <div class="row">
    <section class="col-12 mt-3">
      <h1 class="m-sm-3">Publicaciones</h1>
      <div *ngFor="let item of publicaciones" class="d-flex mx-sm-3 mb-3 p-sm-3 media-object">
        <div class="flex-shrink-0 text-center">
          <img [src]="'assets/images/publicaciones/doc'+item.id+'.webp'"><br>
          <a [href]="item.url" target="_blank" class="text-decoration-none text-primary">
              <i class=" text-danger fa-regular fa-file-pdf"></i>
              Descargar
          </a>

        </div>
        <div class="flex-grow-1 ms-sm-3 mt-3 mt-sm-0 d-none d-sm-block">
            <h1 class="lh1">{{item.title}}</h1>
            <p class="lh2">{{item.subtitle}}</p>
            <p class="date">{{item.date}}</p>
            <p>{{item.text}}</p>
        </div>
      </div>
    </section>
  </div>
  <hr>
  <div class="row">
      <section class="col-12">
        <div class="m-sm-3 mb-0 divider" style="margin-bottom: 0 !important;">
          <p class="boletin">
            Boletin
          </p>
          <p class="insights">
            Insights
          </p>
          <p class="insightsSub">
            Tecnología, Sociedad y Educación
          </p>
        </div>
        <div class="mx-3 mt-0 mb-3">
          <p class="p-0 m-0" style="color: rgb(148, 148, 148);">
            ISSN 3028-5879
          </p>
        </div>
        <div class="boletines mx-3">
          <ng-container *ngFor="let item of boletines">
            <details class="accordion-item" open>
              <summary class="accordion-trigger mb-3">
                <span class="accordion-title">
                  Edición {{item.edicion}}. {{item.fecha}}
                </span>
                <span class="accordion-icon" aria-hidden="true">
                  &plus;
                </span>
              </summary>

                <div *ngFor="let item2 of item.publicaciones" class="d-flex mx-sm-3 mb-3 pb-3 media-object">
                  <div class="flex-shrink-0 text-center">
                    <a  [href]="item2.url" target="_blank" >
                      <img [src]="'assets/images/publicaciones/doc'+item2.id+'.webp'"><br>
                    </a>



                  </div>
                  <div class="flex-grow-1 ms-sm-3 mt-3 mt-sm-0 d-none d-sm-block">
                      <p class="lh1">{{item2.subtitle}}</p>
                      <h1 class="lh2">{{item2.title}}</h1>
                      <p class="date">Volumen No. {{item2.volumen}}</p>
                      <p class="doi">DOI: {{item2.doi}}</p>
                      <a [href]="item2.url" target="_blank" class="text-decoration-none" style="font-size: 1rem;">
                        <i class="fa-solid fa-xs fa-up-right-from-square"></i> Consultar
                      </a>

                  </div>
                </div>








            </details>
          </ng-container>
        </div>
      </section>
  </div>

</div>
