<div class="container" id="contenido">
    <div class="row">
        <section class="col-12">
            <div class="d-flex mx-sm-5 mb-5 p-sm-3 media-object">
                <div class="flex-grow-1 ms-sm-3">

                    <h1 class="my-3">Bienvenidos</h1>
                    <p>
                        El Grupo de Investigación GI2T tiene como propósito contribuir en la construcción de conocimiento para responder a las necesidades y oportunidades de las comunidades asentadas en el litoral pacífico a través de la innovación. Nuestro enfoque se centra en promover el acceso, uso y apropiación tecnológica como herramientas fundamentales para impulsar el desarrollo sostenible de esta región.
                    </p>
                    <p>
                        Nuestro grupo de investigación trabaja en tres ejes temáticos esenciales: el uso apropiado e innovador de la tecnología en los sectores turístico, educativo y de seguridad alimentaria. A través de estudios y proyectos de investigación, buscamos generar soluciones concretas y aplicables que beneficien a las comunidades locales y contribuyan a su crecimiento económico y social.
                    </p>
                    <p>
                        Nos comprometemos con el fortalecimiento de la infraestructura de nuestro grupo, promoviendo alianzas estratégicas y la creación de laboratorios especializados para llevar a cabo investigaciones relevantes y de impacto. Además, trabajamos en enriquecer nuestra base de conocimiento y experiencia, fundamentales para el desarrollo de proyectos innovadores y sostenibles.
                    </p>
                    <p>
                        Buscamos posicionar nuestro grupo de investigación a nivel nacional e internacional a través de la divulgación de nuestras investigaciones, la participación en eventos académicos relevantes y la organización de encuentros con especialistas y expertos en tecnología y desarrollo comunitario.
                    </p>
                    <p>
                        Te invitamos a unirte a nuestro grupo y ser parte de esta apasionante labor en la que juntos, a través del acceso, uso y apropiación tecnológica, contribuimos al desarrollo integral de las comunidades asentadas en el litoral pacífico colombiano, generando un impacto positivo y sostenible en la región.
                    </p>
                </div>
            </div>
            <div class="d-flex mx-sm-5 mb-5 p-sm-3 media-object">
                <div class="flex-shrink-0">
                    <img src="#" alt="" width="300">
                </div>
                <div class="flex-grow-1 ms-sm-3">
                    <h1 class="mt-0">
                        Objetivo General:
                    </h1>
                    <p>
                        El objetivo general del Grupo de Investigación GI2T es contribuir al desarrollo integral y sostenible de las comunidades asentadas en el litoral pacífico colombiano a través del acceso, uso y apropiación tecnológica, promoviendo la innovación y generando soluciones concretas que impulsen el progreso económico, social y cultural de la región.
                    </p>
                    <h2 class="mt-3">
                        Objetivos Específicos:
                    </h2>
                    <ul class="list-group list-group-numbered">
                        <li class="bg-transparent border-0 list-group-item">
                            Realizar estudios e investigaciones que identifiquen las necesidades tecnológicas y oportunidades de desarrollo en los sectores turístico, educativo y de seguridad alimentaria del litoral pacífico colombiano.
                        </li>
                        <li class="bg-transparent border-0 list-group-item">
                            Promover el acceso a la tecnología en las comunidades locales, facilitando la disponibilidad y utilización de herramientas digitales que potencien sus capacidades y conocimientos.
                        </li>
                        <li class="bg-transparent border-0 list-group-item">
                            Fomentar la apropiación tecnológica en las comunidades, brindando capacitación y formación en el uso adecuado de las tecnologías para mejorar sus actividades productivas, educativas y de vida cotidiana.
                        </li>
                        <li class="bg-transparent border-0 list-group-item">
                            Desarrollar proyectos innovadores que incorporen tecnologías adecuadas para resolver problemáticas específicas en el turismo, educación y seguridad alimentaria de la región.
                        </li>
                        <li class="bg-transparent border-0 list-group-item">
                            Establecer alianzas estratégicas con actores locales, instituciones educativas, organismos gubernamentales y empresas privadas para potenciar el impacto de nuestras iniciativas y proyectos.
                        </li>
                        <li class="bg-transparent border-0 list-group-item">
                            Divulgar los resultados de nuestras investigaciones y experiencias en eventos académicos y medios de comunicación, con el objetivo de generar conocimiento y sensibilizar sobre la importancia de la tecnología para el desarrollo regional.
                        </li>
                        <li class="bg-transparent border-0 list-group-item">
                            Formar una red de colaboradores y aliados interesados en el desarrollo del litoral pacífico, con el fin de fortalecer la capacidad de trabajo conjunto y ampliar el alcance de nuestras acciones.
                        </li>
                        <li class="bg-transparent border-0 list-group-item">
                            Evaluar constantemente el impacto de nuestras intervenciones y proyectos en las comunidades, con el propósito de retroalimentar nuestras acciones y mejorar continuamente nuestros enfoques y resultados.
                        </li>
                        <li class="bg-transparent border-0 list-group-item">
                            Desarrollar programas de extensión y transferencia tecnológica que permitan la replicación de buenas prácticas y soluciones exitosas en otras comunidades del litoral pacífico colombiano.
                        </li>
                        <li class="bg-transparent border-0 list-group-item">
                            Contribuir al debate y formulación de políticas públicas que promuevan el acceso equitativo a la tecnología y la innovación como herramientas para el desarrollo inclusivo y sostenible del litoral pacífico colombiano.
                        </li>
                    </ul>
                </div>
            </div>



        </section>
    </div>
</div>
