<section id="inicio" class="seccion-inicio">
  <div class="container">
      <h1 class="mb-0 lh-0">InnovaTIC Pacífico</h1>
      <h2 class="mb-3">Red Docente</h2>
      <p class="lead">Uniendo esfuerzos para la integración de las TIC en el Sistema educativo del Distrito de Buenaventura.</p>

      <div class="introduccion-texto">
          <p>En un contexto marcado por la constante evolución tecnológica y su creciente influencia en la educación, el distrito de Buenaventura se encuentra ante una oportunidad única para liderar la integración de las TIC en el ámbito educativo. Esta propuesta es fruto de un meticuloso análisis y la culminación de un proyecto de investigación cuyo evento de socialización ha jugado un papel catalizador en el proceso.</p>

          <p>El encuentro de socialización tuvo como objetivo principal examinar los hallazgos de nuestra investigación relacionados con el acceso, uso y apropiación de las TIC en las instituciones educativas del distrito. Dicho evento sirvió como un valioso punto de encuentro para rectores, coordinadores, docentes y representantes de la Secretaría de Educación, permitiendo un fructífero intercambio de experiencias y saberes.</p>

          <p>Las discusiones generadas arrojaron luz sobre los desafíos particulares a los que nos enfrentamos, pero, más importante aún, destacaron oportunidades tangibles para impulsar la educación en nuestra región.</p>

          <!-- Añade más párrafos según sea necesario -->
      </div>

      <div class="botones-inicio">
          <a href="#objetivos" class="btn btn-primario">Conoce nuestros objetivos</a>
          <a href="#contacto" class="btn btn-secundario">Ponte en contacto</a>
      </div>
  </div>
</section>
